

/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   background-color: rgb(60, 124, 121);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: whitesmoke;
    font-size: medium;
    letter-spacing: 2.0px;
    height: 100vh;
    padding: 20px;
    
    
    
}


header {
    padding: 15px;
    
}

img {
   width: 250px;
   height: 200px;
   margin: 0 auto;

  
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
   
}





p {
    line-height: 2em;
}
button {
    line-height: 3em;
    background-color:rgba(147, 78, 0, 0.745);
    color: whitesmoke;
    border-radius: 5px;
    padding: 8px;
  
   
    
  
}



.hide {
    display: none;
   
  }
#answers-buttons {
    gap: 20px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  

    

  
}

footer {
    display: flex;
    text-align: center;
   justify-content: space-between;
    padding: 20px;
    width: 100%;
    font-size: 100%;
    font-weight: bolder;
    margin-bottom: auto;
    
}



@media screen and (min-width: 995px) {
   
   body {
    align-content: center;
    
   }
   
    #answers-buttons {
      
        max-width: 30%;
        display: flex;
        margin: auto;
        
       
 }
    
 button {
    align-content: center;
 }

}
